@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #98C1E8;
}
.container{
    margin-top: 50px;

}
.left{
    background-color: white;
 
}

.right{
    background-color: #463ACB;

}

.title-left {
    color:#463ACB;
    font-size: 25px;
    font-weight: 700;

}
.title-right{
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.mau{
    border-radius: 10px;
}
.left-ex{
    border: none;
    border-bottom: 2px double gray;
    border-radius:0px;
    opacity: 0.7    ;
    color: hsl(0deg 0% 51%);
    font-size: 12px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
}

.right-ex{
    border: none;
    border-bottom: 2px double gray;
    border-radius:0px;
    opacity: 0.7    ;
    color: white;
    font-size: 12px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
    background-color: #463ACB;
}

.right input::placeholder {
    /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1;
    /* Firefox */
    font-size: 12px;
}

.txt, u{
    color:white;
    font-size: 11px;
}
.cb{
    background-color:#463ACB;
}
.butt{
    background-color: white;
    color: black;
    border-radius: 15px;
    font-weight: 500;
    /* margin-left: 30px */
}