@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
/* #438FC1 */
/* #C8C8C8 */
/* #FAFAFA nền phải*/ 
.container{
    padding: 0px 200px;
}
.left{

}
h1{
    font-size: 22px;
    font-weight: 700;
}


.right{
    background-color: #FAFAFA;
}
.txt{
    font-size: 14px;
}

.but-right{
    background-color: #C8C8C8;
}

.tt, .sp b{
    float: right;
    margin-bottom: 1rem;
    /* font-size: 30px; */
}
.tt, .sp p{
    float: right;

}
.tt b{
    font-size: 25px;
}
.cart-dong2{
    color: #0982BC;
}
.butt{
    background-color:  #438FC1;
}
.a-return{
    color: black;
} 
.txt-muc{
    font-weight:600;
}


ul {
    /* định nghĩa một list / tức danh sách */
    list-style-type: none;
    /* kiểu của các dòng trong danh sách là không có gì đầu dòng */
    margin: 0;
    /* thụt lề bằng 0 */
    padding: 0;
    /* vùng đệm để đẩy thành phần chứa bên trong thụt vô bằng 0 */
    overflow: hidden;
    margin-bottom: 14px;
    /* nếu chữ/ hình bị tràn ra ngoài, cắt bỏ */

}

li {
    margin-right: 3px;
    /* định nghĩ cho các dòng trong danh sách */
    float: left;
    /* cho các dòng trôi nổi về góc bên trái như những cục shit trôi sông tấp vào bờ trái */

    
}

li a {
    
    /* định nghĩa thẻ a nằm bên trong một thẻ li */
    display: block;
    /* bình thường thẻ a là thẻ inline, không phải block, giờ cho nó thành block */
    color:black;
    /* màu chữ sẽ là màu trắng */
    text-align: center;
    /* canh lề giữa cho chữ, tức thẻ a sẽ là khối chữ nhật, chữ nằm giữa, canh đều hai bên */

    /* vùng đệm thụt vào 16px rồi mới đến nội dung bên trong a */
    text-decoration: none;
    /* không trang trí hoa hòe hoa sói, tức rà chuột, kích chuột,... chữ vẫn trắng mà không ra màu khác hay chớp nháy, gạch chân gì cả */
}
li a:hover {
    /* định nghĩa hành động cho thẻ a khi rà chuột */
    color: rgb(20, 40, 221);
    font-weight: 600;
    /* khi rà chuột vào khối chữ nhật do thẻ a taoọ ra thì đổi màu nền thành màu đen */
}


/* .mau-ex{

    float: right;
}
.tille{
    font-size: 25px;
    font-weight: 600;
}
.title-1{
    font-weight: 500;
    font-size: 20px;
} */