*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


.container{
    padding: 40px;
    background-color: #EEEEEE;
    height: 730px;
}


.hleft{
    
}
.card{
    /* width: 350px; */
    padding: 20px;
    background-color: white;
}
h1{
    font-size: 20px;
    margin-bottom: 12px;
}

.colheader{
    margin: 0px 20px 0px 20px;
}

.colmain{
    margin: 0px 10px;
    /* background-color: #DC3545; */
    /* color:white; */
    padding: 5px;
}

.tb1{
    font-size: 13px;
    background-color: #DC3545;
    color:white;
    width: 115px;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 8px;

}

.tb2{
    font-size: 13px;
    background-color: #1857cc;
    color:white;
    width: 83px;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.colft{
    display: flex;
    justify-content: space-between;
}
.ftleft{
    margin: 0px 13px;
}

.ftright{
    display: flex;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-between;
}
